---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
import Features4 from '~/components/widgets/Features4.astro';
// import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';
import Carousel from '~/components/widgets/Carousel.astro';



const metadata = {
  title: 'RhoLab — A crop physiology lab at NTU',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Our Academics',
        href: '/research',
        // target: '_blank',
        icon: 'tabler:school',
      },
      { text: 'About us', href: '/about' },
    ]}
    image={{ src: '~/assets/images/index/hero-image.jpg', alt: 'RhoLab Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> RhoLab</span> + NTU
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        We are a lab at
        <span class="font-semibold">National Taiwan University</span>, Department of Horticulture. </span
      >
      
      A place where we can learn together and conduct the research to help the plant, the people, and the world.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />



  <!-- Stats Widget ****************** -->

  <Stats
    title='RhoLab at a Glance'
    stats={[
      { title: 'Current Members', amount: '9+' },
      { title: 'Ongoing Research', amount: '6+' },
      { title: 'Utilized Crops', amount: '5+' },
      { title: 'Collaborations', amount: '5+' },
    ]}
  />


  <!-- Carousel Widget ****************** -->
  
  <Carousel
     isAfterContent
     carousel={[
       {src: '~/assets/images/index/carousel/LabMealAJM.webp', alt:'LabMealAJM'},
       {src: '~/assets/images/index/carousel/LabMtg2.jpg', alt:'LabMtg2'},
       {src: '~/assets/images/index/carousel/CropboxWorkshop2022.webp', alt:'CropboxWorkshop2022'},
       {src: '~/assets/images/index/carousel/LabMtgJW.webp', alt:'LabMtgJW'},
       {src: '~/assets/images/index/carousel/LabMtgBAH.jpg', alt:'LabMtgBAH'},
     ]
     }
  />



  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'Supportive',
        icon: 'tabler:hearts',
        description:
          'We, at RhoLab offer supportive and inspirational environments for young enquiring minds to study and grow with us.',
      },
      {
        title: 'Passion',
        icon: 'tabler:shovel-pitchforks',
        description:
          'Our passion for discovery means we achieve more than outstanding results.',
      },
      {
        title: 'Encourage',
        icon: 'tabler:confetti',
        description:
          'We encourage ourselves to learn from the research processes and make real contribution to the future of plant science and horticulture.',
      },
    ]}
    image={{
      src: '~/assets/images/index/ResearchBegins.jpg',
      alt: 'Research Begins With Us',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2">Research Begins With Us</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Youthful',
        icon: 'tabler:health-recognition',
        description:
          'We are a recently established laboratory focused on research of plant science and horticulture and resource use efficiency. ',
      },
      {
        title: 'Curiosity',
        icon: 'tabler:droplet-question',
        description:
          'Our members conduct amazing experiments to find out the secret of plants and organisms.',
      },
      {
        title: 'Contribute',
        icon: 'tabler:thumb-up',
        description:
          'We further utilize these discoveries to develop an environment friendly cultivation technique and contribute to the world.',
      },
    ]}
    image={{
      src: '~/assets/images/index/ResearchBegins1.JPG',
      alt: 'Research Begins With Us 1',
    }}
  >
    <!-- <Fragment slot="content">Designed to foster growth and success.</Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  

  <!-- Features4 Widget ************** -->

  <Features4
    title="Research Overview"
    subtitle="RhoLab aims at offering all our members a broad and balanced research topic that provides rewarding and stimulating experiments to prepare them for the best academic contribution."
    tagline="Features"
    items={[
      {
        title: 'PGPB',
        description: "Inoculate plants with benefit bacteria or fungi and help the plant to combat with stresses.",
        image: { src: '~/assets/images/index/research/PGPB.webp', alt: 'PGPB' },
      },
      {
        title: 'Physiological Stresses',
        description:
          "Testing vegetables on different stresses and propose solutions for the climate change.",
        image: { src: '~/assets/images/index/research/Stresses.webp', alt: 'Physiological Stresses' },
      },
      {
        title: 'Hydroponics',
        description:
          'An amazing way to grow the crop without using the soil-based medium.',
        image: { src: '~/assets/images/index/research/Hydroponics.webp', alt: 'Hydroponics' },
      },
      {
        title: 'Smart Agriculture',
        description:
          "The study combines crop science and engineering to automate the cultivation.",
        image: { src: '~/assets/images/index/research/SmartAgric.webp', alt: 'Smart Agriculture' },
      },
      {
        title: 'Crop Modelling',
        description:
          'Understanding the game of numbers and logic to solve real-world problems.',
        image: { src: '~/assets/images/index/research/CropModel.webp', alt: 'Crop Modelling' },
      },
      {
        title: 'Seed Treatments',
        description: 'Learning the properties of seeds and enhance the germination with latest technology.',
        image: { src: '~/assets/images/index/research/SeedTreat.webp', alt: 'Seed Treatments' },
      },
    ]}
  >
    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Features4>


  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Meals',
        description:
          'Our students love cooking and trying new cuisines in the free time. Our lab is a good place to exchange and enjoy good dishes. Good restaurants or cafes are hot topics in our discussions.',
      },
      {
        title: 'Field Trip',
        description:
          'Going out for a trip stimulates our thoughts. Nature empowers us to go forward in the research. Approaching nature and fields increase the wellbeing of us.',
      },
      {
        title: 'Gardening',
        description:
          'With professionals on board, we take pride in our talents in planting various kinds of plants. We also have interests in taking care of rare plants.',
      },
    ]}
    image={{
      src: '~/assets/images/index/HaveANIceDayMeal.webp',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2">Our Co-curricular Activities</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>





</Layout>
